.debug{
  min-height: 80px;
  background-color: springgreen;
  border: 1px solid black;
}

header{
  background-color: red;
  min-height: 80px;
}

.de_bug{
  background-color: blue;
  border: 1px solid black;
  height: 30px;
}