.debug{
  background-color: springgreen;
  border: 1px solid black;
}

header{
  background-color: #2C3E50;
  height: 90px;
}


.fc-jumbotron{
  background-color: #31BC9C;
  height: 495px;
  color: white;
}

.fc-container{
  width: 60%;
  margin: 0 auto;
}

.footer-top{
 background-color: #3A546D;
 height: 100px;
} 

.footer-bottom{
 background-color: #2C3E50;
 height: 50px;
}